#card {
  transition: background 0.3s ease-in;
}

#card:hover {
  background-color: #dfe4ea;
}

@media (min-width: 768px) {
  #card {
    min-height: 12rem;
    min-width: 23%;
    display: flex;
    flex-basis: 0px;
  }

  #text {
    font-size: 1.1rem;
    line-height: 1.3;
  }
}
